::selection {
    background-color: #04D9FF; 
    color: navy; 
}

a:visited {
	color: white;
}

a:hover {
	color: #04D9FF;
}

body {
	margin: 0;
	background-color:  #333333;
	color: white;
	font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol;
}

html {
	line-height: 1;
	-webkit-text-size-adjust: 100%;
	tab-size: 4;
}

header {
	background-color: grey;
	padding: 36px 0;
	display: flex;
	align-items: center; 
	justify-content: space-between;
	position: relative;
}

.menu-icon {
    font-size: 42px;
    cursor: pointer;
    display: block;
    padding: 0 20px;
}

#menu-toggle {
    display: none;
}

.menu {
    display: none;
	position: absolute;
	top: 50px; 
    left: 10px; 
    background-color: grey;
    width: 10%; 
}

#menu-toggle:checked + .menu-icon + .menu {
    display: flex;
}

.menu ul {
    list-style: none;
    padding: 0 10px;
    margin: 0;
}

.menu ul li {
    margin: 20px 0;
}

.menu ul li a {
    text-decoration: none;
	font-size: 24px;
    color: white;
}

.name-img {
	display: flex;
	align-items: center; 
	justify-content: center; 
	position: absolute;
	left: 37.5%;
}

.header-name {
	font-size: 2em;
	font-weight: bold;
	white-space: nowrap;
	margin-left: 10%;
	margin-bottom: 5%;
}

#crash-test-dummy-img {
	width: 90%;
	display: block;
    margin: 3% auto;
}

.website-title {
	font-size: 50px;
	text-align: center;
}

p {
	margin-left: 3%;
	font-size: 24px;
}