<script src="https://cdn.jsdelivr.net/npm/onnxruntime-web/dist/ort.min.js"></script>
<script src='https://cdn.plot.ly/plotly-3.0.1.min.js'></script>
<script>
// 500 images provided by the CINIC-10 dataset
const imgArr = [
    'cifar10-train-0.png',
    'cifar10-train-1.png',
    'cifar10-train-5.png',
    'cifar10-train-10.png',
    'cifar10-train-11.png',
    'cifar10-train-16.png',
    'cifar10-train-18.png',
    'cifar10-train-19.png',
    'cifar10-train-21.png',
    'cifar10-train-25.png',
    'cifar10-train-30.png',
    'cifar10-train-33.png',
    'cifar10-train-36.png',
    'cifar10-train-39.png',
    'cifar10-train-40.png',
    'cifar10-train-44.png',
    'cifar10-train-48.png',
    'cifar10-train-49.png',
    'cifar10-train-53.png',
    'cifar10-train-58.png',
    'cifar10-train-60.png',
    'cifar10-train-62.png',
    'cifar10-train-63.png',
    'cifar10-train-65.png',
    'cifar10-train-70.png',
    'cifar10-train-71.png',
    'cifar10-train-73.png',
    'cifar10-train-74.png',
    'cifar10-train-78.png',
    'cifar10-train-79.png',
    'cifar10-train-81.png',
    'cifar10-train-82.png',
    'cifar10-train-85.png',
    'cifar10-train-86.png',
    'cifar10-train-87.png',
    'cifar10-train-88.png',
    'cifar10-train-91.png',
    'cifar10-train-93.png',
    'cifar10-train-94.png',
    'cifar10-train-95.png',
    'cifar10-train-105.png',
    'cifar10-train-106.png',
    'cifar10-train-108.png',
    'cifar10-train-110.png',
    'cifar10-train-113.png',
    'cifar10-train-114.png',
    'cifar10-train-121.png',
    'cifar10-train-124.png',
    'cifar10-train-125.png',
    'cifar10-train-127.png',
    'cifar10-train-128.png',
    'cifar10-train-131.png',
    'cifar10-train-135.png',
    'cifar10-train-136.png',
    'cifar10-train-138.png',
    'cifar10-train-140.png',
    'cifar10-train-141.png',
    'cifar10-train-142.png',
    'cifar10-train-146.png',
    'cifar10-train-149.png',
    'cifar10-train-153.png',
    'cifar10-train-155.png',
    'cifar10-train-158.png',
    'cifar10-train-159.png',
    'cifar10-train-160.png',
    'cifar10-train-161.png',
    'cifar10-train-163.png',
    'cifar10-train-167.png',
    'cifar10-train-168.png',
    'cifar10-train-169.png',
    'cifar10-train-170.png',
    'cifar10-train-173.png',
    'cifar10-train-175.png',
    'cifar10-train-177.png',
    'cifar10-train-180.png',
    'cifar10-train-182.png',
    'cifar10-train-183.png',
    'cifar10-train-185.png',
    'cifar10-train-186.png',
    'cifar10-train-190.png',
    'cifar10-train-191.png',
    'cifar10-train-192.png',
    'cifar10-train-194.png',
    'cifar10-train-195.png',
    'cifar10-train-204.png',
    'cifar10-train-206.png',
    'cifar10-train-207.png',
    'cifar10-train-209.png',
    'cifar10-train-213.png',
    'cifar10-train-215.png',
    'cifar10-train-216.png',
    'cifar10-train-218.png',
    'cifar10-train-223.png',
    'cifar10-train-224.png',
    'cifar10-train-226.png',
    'cifar10-train-227.png',
    'cifar10-train-232.png',
    'cifar10-train-233.png',
    'cifar10-train-234.png',
    'cifar10-train-235.png',
    'cifar10-train-238.png',
    'cifar10-train-240.png',
    'cifar10-train-242.png',
    'cifar10-train-247.png',
    'cifar10-train-250.png',
    'cifar10-train-253.png',
    'cifar10-train-256.png',
    'cifar10-train-257.png',
    'cifar10-train-258.png',
    'cifar10-train-260.png',
    'cifar10-train-268.png',
    'cifar10-train-271.png',
    'cifar10-train-273.png',
    'cifar10-train-277.png',
    'cifar10-train-278.png',
    'cifar10-train-281.png',
    'cifar10-train-287.png',
    'cifar10-train-291.png',
    'cifar10-train-293.png',
    'cifar10-train-295.png',
    'cifar10-train-303.png',
    'cifar10-train-309.png',
    'cifar10-train-311.png',
    'cifar10-train-313.png',
    'cifar10-train-314.png',
    'cifar10-train-323.png',
    'cifar10-train-324.png',
    'cifar10-train-326.png',
    'cifar10-train-327.png',
    'cifar10-train-328.png',
    'cifar10-train-332.png',
    'cifar10-train-337.png',
    'cifar10-train-341.png',
    'cifar10-train-342.png',
    'cifar10-train-345.png',
    'cifar10-train-347.png',
    'cifar10-train-348.png',
    'cifar10-train-349.png',
    'cifar10-train-350.png',
    'cifar10-train-356.png',
    'cifar10-train-357.png',
    'cifar10-train-358.png',
    'cifar10-train-362.png',
    'cifar10-train-363.png',
    'cifar10-train-364.png',
    'cifar10-train-365.png',
    'cifar10-train-366.png',
    'cifar10-train-367.png',
    'cifar10-train-369.png',
    'cifar10-train-372.png',
    'cifar10-train-376.png',
    'cifar10-train-380.png',
    'cifar10-train-381.png',
    'cifar10-train-387.png',
    'cifar10-train-389.png',
    'cifar10-train-390.png',
    'cifar10-train-396.png',
    'cifar10-train-397.png',
    'cifar10-train-398.png',
    'cifar10-train-399.png',
    'cifar10-train-402.png',
    'cifar10-train-408.png',
    'cifar10-train-411.png',
    'cifar10-train-412.png',
    'cifar10-train-414.png',
    'cifar10-train-421.png',
    'cifar10-train-422.png',
    'cifar10-train-423.png',
    'cifar10-train-425.png',
    'cifar10-train-428.png',
    'cifar10-train-432.png',
    'cifar10-train-434.png',
    'cifar10-train-436.png',
    'cifar10-train-437.png',
    'cifar10-train-440.png',
    'cifar10-train-447.png',
    'cifar10-train-453.png',
    'cifar10-train-455.png',
    'cifar10-train-456.png',
    'cifar10-train-461.png',
    'cifar10-train-464.png',
    'cifar10-train-466.png',
    'cifar10-train-469.png',
    'cifar10-train-472.png',
    'cifar10-train-474.png',
    'cifar10-train-476.png',
    'cifar10-train-478.png',
    'cifar10-train-481.png',
    'cifar10-train-483.png',
    'cifar10-train-485.png',
    'cifar10-train-488.png',
    'cifar10-train-494.png',
    'cifar10-train-496.png',
    'cifar10-train-497.png',
    'cifar10-train-498.png',
    'cifar10-train-499.png',
    'cifar10-train-505.png',
    'cifar10-train-507.png',
    'cifar10-train-508.png',
    'cifar10-train-509.png',
    'cifar10-train-510.png',
    'cifar10-train-511.png',
    'cifar10-train-514.png',
    'cifar10-train-523.png',
    'cifar10-train-529.png',
    'cifar10-train-534.png',
    'cifar10-train-536.png',
    'cifar10-train-538.png',
    'cifar10-train-539.png',
    'cifar10-train-540.png',
    'cifar10-train-541.png',
    'cifar10-train-542.png',
    'cifar10-train-543.png',
    'cifar10-train-545.png',
    'cifar10-train-547.png',
    'cifar10-train-549.png',
    'cifar10-train-553.png',
    'cifar10-train-560.png',
    'cifar10-train-563.png',
    'cifar10-train-565.png',
    'cifar10-train-566.png',
    'cifar10-train-568.png',
    'cifar10-train-572.png',
    'cifar10-train-574.png',
    'cifar10-train-576.png',
    'cifar10-train-578.png',
    'cifar10-train-579.png',
    'cifar10-train-581.png',
    'cifar10-train-585.png',
    'cifar10-train-588.png',
    'cifar10-train-589.png',
    'cifar10-train-594.png',
    'cifar10-train-596.png',
    'cifar10-train-599.png',
    'cifar10-train-600.png',
    'cifar10-train-601.png',
    'cifar10-train-602.png',
    'cifar10-train-606.png',
    'cifar10-train-607.png',
    'cifar10-train-613.png',
    'cifar10-train-614.png',
    'cifar10-train-616.png',
    'cifar10-train-621.png',
    'cifar10-train-627.png',
    'cifar10-train-630.png',
    'cifar10-train-631.png',
    'cifar10-train-635.png',
    'cifar10-train-638.png',
    'cifar10-train-639.png',
    'cifar10-train-641.png',
    'cifar10-train-645.png',
    'cifar10-train-650.png',
    'cifar10-train-651.png',
    'cifar10-train-652.png',
    'cifar10-train-653.png',
    'cifar10-train-654.png',
    'cifar10-train-656.png',
    'cifar10-train-657.png',
    'cifar10-train-658.png',
    'cifar10-train-667.png',
    'cifar10-train-671.png',
    'cifar10-train-673.png',
    'cifar10-train-681.png',
    'cifar10-train-683.png',
    'cifar10-train-684.png',
    'cifar10-train-685.png',
    'cifar10-train-692.png',
    'cifar10-train-694.png',
    'cifar10-train-698.png',
    'cifar10-train-701.png',
    'cifar10-train-707.png',
    'cifar10-train-709.png',
    'cifar10-train-712.png',
    'cifar10-train-714.png',
    'cifar10-train-716.png',
    'cifar10-train-717.png',
    'cifar10-train-719.png',
    'cifar10-train-720.png',
    'cifar10-train-721.png',
    'cifar10-train-722.png',
    'cifar10-train-728.png',
    'cifar10-train-730.png',
    'cifar10-train-734.png',
    'cifar10-train-735.png',
    'cifar10-train-736.png',
    'cifar10-train-738.png',
    'cifar10-train-744.png',
    'cifar10-train-745.png',
    'cifar10-train-746.png',
    'cifar10-train-747.png',
    'cifar10-train-748.png',
    'cifar10-train-749.png',
    'cifar10-train-751.png',
    'cifar10-train-752.png',
    'cifar10-train-753.png',
    'cifar10-train-754.png',
    'cifar10-train-755.png',
    'cifar10-train-766.png',
    'cifar10-train-768.png',
    'cifar10-train-769.png',
    'cifar10-train-771.png',
    'cifar10-train-772.png',
    'cifar10-train-773.png',
    'cifar10-train-774.png',
    'cifar10-train-776.png',
    'cifar10-train-780.png',
    'cifar10-train-781.png',
    'cifar10-train-783.png',
    'cifar10-train-784.png',
    'cifar10-train-786.png',
    'cifar10-train-793.png',
    'cifar10-train-794.png',
    'cifar10-train-797.png',
    'cifar10-train-798.png',
    'cifar10-train-801.png',
    'cifar10-train-805.png',
    'cifar10-train-807.png',
    'cifar10-train-814.png',
    'cifar10-train-817.png',
    'cifar10-train-825.png',
    'cifar10-train-826.png',
    'cifar10-train-827.png',
    'cifar10-train-831.png',
    'cifar10-train-832.png',
    'cifar10-train-838.png',
    'cifar10-train-839.png',
    'cifar10-train-841.png',
    'cifar10-train-842.png',
    'cifar10-train-843.png',
    'cifar10-train-844.png',
    'cifar10-train-846.png',
    'cifar10-train-848.png',
    'cifar10-train-853.png',
    'cifar10-train-861.png',
    'cifar10-train-862.png',
    'cifar10-train-863.png',
    'cifar10-train-864.png',
    'cifar10-train-865.png',
    'cifar10-train-869.png',
    'cifar10-train-871.png',
    'cifar10-train-873.png',
    'cifar10-train-874.png',
    'cifar10-train-875.png',
    'cifar10-train-877.png',
    'cifar10-train-881.png',
    'cifar10-train-884.png',
    'cifar10-train-888.png',
    'cifar10-train-892.png',
    'cifar10-train-893.png',
    'cifar10-train-896.png',
    'cifar10-train-900.png',
    'cifar10-train-905.png',
    'cifar10-train-907.png',
    'cifar10-train-910.png',
    'cifar10-train-913.png',
    'cifar10-train-916.png',
    'cifar10-train-921.png',
    'cifar10-train-923.png',
    'cifar10-train-924.png',
    'cifar10-train-934.png',
    'cifar10-train-937.png',
    'cifar10-train-939.png',
    'cifar10-train-940.png',
    'cifar10-train-947.png',
    'cifar10-train-952.png',
    'cifar10-train-957.png',
    'cifar10-train-960.png',
    'cifar10-train-962.png',
    'cifar10-train-964.png',
    'cifar10-train-966.png',
    'cifar10-train-970.png',
    'cifar10-train-972.png',
    'cifar10-train-975.png',
    'cifar10-train-977.png',
    'cifar10-train-979.png',
    'cifar10-train-983.png',
    'cifar10-train-984.png',
    'cifar10-train-989.png',
    'cifar10-train-991.png',
    'cifar10-train-992.png',
    'cifar10-train-995.png',
    'cifar10-train-999.png',
    'cifar10-train-1001.png',
    'cifar10-train-1003.png',
    'cifar10-train-1004.png',
    'cifar10-train-1006.png',
    'cifar10-train-1007.png',
    'cifar10-train-1009.png',
    'cifar10-train-1013.png',
    'cifar10-train-1015.png',
    'cifar10-train-1016.png',
    'cifar10-train-1017.png',
    'cifar10-train-1020.png',
    'cifar10-train-1021.png',
    'cifar10-train-1022.png',
    'cifar10-train-1024.png',
    'cifar10-train-1029.png',
    'cifar10-train-1030.png',
    'cifar10-train-1034.png',
    'cifar10-train-1037.png',
    'cifar10-train-1038.png',
    'cifar10-train-1039.png',
    'cifar10-train-1042.png',
    'cifar10-train-1043.png',
    'cifar10-train-1044.png',
    'cifar10-train-1047.png',
    'cifar10-train-1049.png',
    'cifar10-train-1050.png',
    'cifar10-train-1051.png',
    'cifar10-train-1052.png',
    'cifar10-train-1053.png',
    'cifar10-train-1054.png',
    'cifar10-train-1055.png',
    'cifar10-train-1057.png',
    'cifar10-train-1059.png',
    'cifar10-train-1060.png',
    'cifar10-train-1061.png',
    'cifar10-train-1064.png',
    'cifar10-train-1069.png',
    'cifar10-train-1078.png',
    'cifar10-train-1085.png',
    'cifar10-train-1087.png',
    'cifar10-train-1088.png',
    'cifar10-train-1089.png',
    'cifar10-train-1090.png',
    'cifar10-train-1092.png',
    'cifar10-train-1095.png',
    'cifar10-train-1098.png',
    'cifar10-train-1100.png',
    'cifar10-train-1103.png',
    'cifar10-train-1104.png',
    'cifar10-train-1105.png',
    'cifar10-train-1110.png',
    'cifar10-train-1115.png',
    'cifar10-train-1117.png',
    'cifar10-train-1118.png',
    'cifar10-train-1120.png',
    'cifar10-train-1123.png',
    'cifar10-train-1126.png',
    'cifar10-train-1133.png',
    'cifar10-train-1134.png',
    'cifar10-train-1137.png',
    'cifar10-train-1143.png',
    'cifar10-train-1144.png',
    'cifar10-train-1145.png',
    'cifar10-train-1153.png',
    'cifar10-train-1154.png',
    'cifar10-train-1156.png',
    'cifar10-train-1157.png',
    'cifar10-train-1160.png',
    'cifar10-train-1161.png',
    'cifar10-train-1162.png',
    'cifar10-train-1163.png',
    'cifar10-train-1165.png',
    'cifar10-train-1167.png',
    'cifar10-train-1169.png',
    'cifar10-train-1170.png',
    'cifar10-train-1171.png',
    'cifar10-train-1173.png',
    'cifar10-train-1175.png',
    'cifar10-train-1184.png',
    'cifar10-train-1186.png',
    'cifar10-train-1188.png',
    'cifar10-train-1190.png',
    'cifar10-train-1191.png',
    'cifar10-train-1192.png',
    'cifar10-train-1196.png',
    'cifar10-train-1197.png',
    'cifar10-train-1198.png',
    'cifar10-train-1200.png',
    'cifar10-train-1204.png',
    'cifar10-train-1207.png',
    'cifar10-train-1208.png',
    'cifar10-train-1213.png',
    'cifar10-train-1215.png',
    'cifar10-train-1216.png',
    'cifar10-train-1217.png',
    'cifar10-train-1220.png',
    'cifar10-train-1221.png',
    'cifar10-train-1222.png',
    'cifar10-train-1224.png',
    'cifar10-train-1225.png',
    'cifar10-train-1230.png',
    'cifar10-train-1232.png',
    'cifar10-train-1233.png',
    'cifar10-train-1235.png',
    'cifar10-train-1237.png',
    'cifar10-train-1242.png',
    'cifar10-train-1243.png',
    'cifar10-train-1244.png',
    'cifar10-train-1247.png',
    'cifar10-train-1250.png',
    'cifar10-train-1256.png',
    'cifar10-train-1265.png',
    'cifar10-train-1273.png',
    'cifar10-train-1277.png',
    'cifar10-train-1278.png',
    'cifar10-train-1279.png',
    'cifar10-train-1283.png',
    'cifar10-train-1284.png'
];

async function getRandImg() {
    const randInd = Math.floor(Math.random() * imgArr.length);
    const image = imgArr[randInd];
    const imagePath = `/assets/img/cinic/${image}`;
    document.getElementById('preview').src = imagePath;
    // selects random image from array and then previews

    // before converting and returning a File object
    const response = await fetch(imagePath);
    const blob = await response.blob();
    return new File([blob], 'imageFromRandom', {type: blob.type});
}
</script>
<script>
const labels = ["airplane", "automobile", "bird", "cat", "deer", "dog", "frog", "horse", "ship", "truck"];

// standard JS fetch with cors proxy
async function request(url) {
    const response = await fetch('https://cors-anywhere.herokuapp.com/' + url, {
        method: 'GET',
        headers: {
            'Accept': '*/*'
        }
    });
    if (!response.ok) throw new Error('Error ' + response.status);
    const blob = await response.blob();
    return new File([blob], 'imageFromUrl', {type: blob.type});
}

async function processAndPredict(file) {
    const reader = new FileReader();
    reader.onload = async function(event) {
        const img = new Image();
        img.onload = async function() {
            const canvas = document.createElement('canvas');
            canvas.width = 32;
            canvas.height = 32;

            const ctx = canvas.getContext('2d');
            ctx.drawImage(img, 0, 0, 32, 32); // converts any size to 32x32
            document.getElementById('preview').src = canvas.toDataURL();
            const imageData = ctx.getImageData(0, 0, 32, 32);

            const mean = [0.485, 0.456, 0.406];
            const std  = [0.229, 0.224, 0.225];

            // this loop converts the image to a tensor with normalization
            const inputData = new Float32Array(32 * 32 * 3);
            for (let i = 0; i < 32; i++) {
                for (let j = 0; j < 32; j++) {
                    const pixelIndex = (i * 32 + j) * 4;
                    const r = imageData.data[pixelIndex] / 255.0;
                    const g = imageData.data[pixelIndex + 1] / 255.0;
                    const b = imageData.data[pixelIndex + 2] / 255.0;

                    const idx = i * 32 + j;
                    inputData[idx] = (r - mean[0]) / std[0];
                    inputData[1024 + idx] = (g - mean[1]) / std[1];
                    inputData[2048 + idx] = (b - mean[2]) / std[2];
                }
            }

            // https://www.youtube.com/watch?v=Vs730jsRgO8
            const session = await ort.InferenceSession.create('/assets/models/model.onnx');
            const inputTensor = new ort.Tensor('float32', inputData, [1, 3, 32, 32]);
            const feeds = {'input.1': inputTensor};
            const outputMap = await session.run(feeds);
            const outputTensor = outputMap['495'];
            const tensorData = outputTensor.data;

            function softmax(logits) {
                const highest = Math.max(...logits);
                const shifted = logits.map(score => Math.exp(score - highest));
                const total = shifted.reduce((acc, val) => acc + val, 0);
                return shifted.map(prob => (prob / total) * 100);
            }

            const predictions = softmax(tensorData);

            let maxIndex = 0;
            for (let i = 1; i < predictions.length; i++) {
                if (predictions[i] > predictions[maxIndex]) {
                    maxIndex = i;
                }
            }

            const predictedLabel = labels[maxIndex];
            const predictedConf = predictions[maxIndex].toFixed(2);

            document.getElementById('output').innerHTML = `I am guessing <strong>${predictedLabel}</strong> was your image with ${predictedConf}% confidence!`;

            var data = [{
                type: 'bar',
                x: labels,
                y: predictions
            }];

            Plotly.newPlot('barChart', data, {autosize: true, margin: {t: 0, b: 50, l: 30, r: 10}}, {displayModeBar: false});
        };
        img.src = event.target.result;
    };
    reader.readAsDataURL(file);
}

document.addEventListener("DOMContentLoaded", function () {
    const fileInput = document.getElementById('fileInput');
    const uploadBtn = document.getElementById('uploadBtn');
    const randomBtn = document.getElementById('randImg');

    // by upload from user
    fileInput.addEventListener('change', function(event) {
        const file = event.target.files[0];
        if (file) {
            processAndPredict(file);
        }
    });

    // by upload from website
    uploadBtn.addEventListener('click', async function() {
        const url = document.getElementById('imageUrl').value.trim();
        if (!url) return;
        try {
            const file = await request(url);
            processAndPredict(file);
        }
        catch (error) {
            document.getElementById('output').textContent = 'Upload error: ' + error.message;
        }
    });

    // by random predefined image
    randomBtn.addEventListener('click', async function() {
        const file = await getRandImg();
        processAndPredict(file);
    });
});
</script>
