.post-item {
    list-style-type: none;
    width: 75vw;
    display: flex;
    padding: 0.5em 0;
    font-size: 1.25em;
    border-bottom: 2px dashed rgba(255, 255, 255, 0.5);
    align-items: center;
}

.post-title {
    text-decoration: none;
    color: white;
}

.post-item img {
    width: 3em;
    height: auto;
    margin-left: 1em;
    margin-right: auto;
}

/*
 * CSS is just about experimenting with different values
 * until they work
*/
