<style>
.image-color-remover-container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.image-color-remover-image-panels {
    display: flex;
    gap: 20px;
}

.image-color-remover-image-panel {
    position: relative;
    flex: 1;
}

.image-color-remover-canvas,
.image-color-remover-canvas-input,
.image-color-remover-canvas-output {
    width: 100%;
    height: 225px;
    border: 2px solid black;
    display: block;
    background-color: white;
}

.image-color-remover-image-change,
.image-color-remover-download-widgets {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.image-color-remover-image-options {
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 10px;
}

.image-color-remover-image-options label {
    white-space: nowrap;
    margin-top: 2px;
}

.image-color-remover-image-options input {
    height: 30px;
}
</style>

<div class="image-color-remover-container">
    <h3 style="text-align: center;">Remove Color From Image</h3>

    <div class="image-color-remover-image-panels">
        <div class="image-color-remover-image-panel">
            <canvas class="image-color-remover-canvas-input"></canvas>

            <div class="image-color-remover-image-change">
                <label for="image-color-remover-file-input"><strong>Choose an image:</strong></label>
                <input id="image-color-remover-file-input" type="file" name="file" accept="image/*" hidden>
                <button type="button" onclick="document.getElementById('image-color-remover-file-input').click()">Browse...</button>
            </div>
        </div>

        <div class="image-color-remover-image-panel">
            <canvas class="image-color-remover-canvas-output"></canvas>

            <div class="image-color-remover-download-widgets">
                <label for="image-color-remover-file-output"><strong>Download image:</strong></label>
                <button type="button" onclick="document.getElementById('image-color-remover-file-output').click()">Download</button>
            </div>
        </div>
    </div>

    <div class="image-color-remover-image-options">
        <div>
            <label for="image-color-remover-color-before-input"><strong>Color to remove:</strong></label>
            <input type="color" id="image-color-remover-color-before-input">

            <label for="image-color-remover-before-alpha">Transparency:</label>
            <input type="range" id="image-color-remover-before-alpha" min="0" max="1" step="0.01" value="1">
        </div>

        <div>
            <label for="image-color-remover-color-after-input"><strong>Color to replace:</strong></label>
            <input type="color" id="image-color-remover-color-after-input">

            <label for="image-color-remover-after-alpha">Transparency:</label>
            <input type="range" id="image-color-remover-after-alpha" min="0" max="1" step="0.01" value="1">
        </div>

        <button id="image-color-remover-input-confirm" type="button" onclick="">Submit</button>
    </div>
</div>

<script>
const imageColorRemoverFileInput = document.getElementById("image-color-remover-file-input");

const imageColorRemoverInputCanvas = document.querySelector("canvas.image-color-remover-canvas-input");
const imageColorRemoverInputContext = imageColorRemoverInputCanvas.getContext("2d");

const imageColorRemoverOutputCanvas = document.querySelector("canvas.image-color-remover-canvas-output");
const imageColorRemoverOutputContext = imageColorRemoverOutputCanvas.getContext("2d");

const imageColorRemoverImageChange = document.querySelector(".image-color-remover-image-change");

// all the bottom inputs
const imageColorRemoverColorBeforeInput = document.getElementById("image-color-remover-color-before-input");
const imageColorRemoverBeforeAlphaInput = document.getElementById("image-color-remover-before-alpha");
const imageColorRemoverColorAfterInput = document.getElementById("image-color-remover-color-after-input");
const imageColorRemoverAfterAlphaInput = document.getElementById("image-color-remover-after-alpha");

const imageColorRemoverInputConfirm = document.getElementById("image-color-remover-input-confirm");

let imageColorRemoverCurrentImage = null;

function imageColorRemoverLoadImage(file) {
    if (!file) return;

    const reader = new FileReader();
    reader.onload = function (event) {
        const image = new Image();

        image.onload = function () {
            imageColorRemoverCurrentImage = image;

            imageColorRemoverInputCanvas.width = image.naturalWidth;
            imageColorRemoverInputCanvas.height = image.naturalHeight;

            imageColorRemoverInputContext.clearRect(0, 0, imageColorRemoverInputCanvas.width, imageColorRemoverInputCanvas.height);
            imageColorRemoverInputContext.drawImage(image, 0, 0, imageColorRemoverInputCanvas.width, imageColorRemoverInputCanvas.height);

            imageColorRemoverOutputCanvas.width = image.naturalWidth;
            imageColorRemoverOutputCanvas.height = image.naturalHeight;

            imageColorRemoverProcessImage();
        };

        image.src = event.target.result;
    };

    reader.readAsDataURL(file);
}

/*
const data looks

[r, g, b, a, r, g, b, a] = 2 pixels
*/

function imageColorRemoverProcessImage() {
    if (!imageColorRemoverCurrentImage) return;

    imageColorRemoverOutputContext.clearRect(0, 0, imageColorRemoverOutputCanvas.width, imageColorRemoverOutputCanvas.height);
    imageColorRemoverOutputContext.drawImage(imageColorRemoverCurrentImage, 0, 0);

    const imageData = imageColorRemoverOutputContext.getImageData(0, 0, imageColorRemoverOutputCanvas.width, imageColorRemoverOutputCanvas.height);
    const data = imageData.data;

    const colorBefore = hexToRGB(imageColorRemoverColorBeforeInput.value);
    const alphaBefore = parseFloat(imageColorRemoverBeforeAlphaInput.value);
    const colorAfter = hexToRGB(imageColorRemoverColorAfterInput.value);
    const alphaAfter = parseFloat(imageColorRemoverAfterAlphaInput.value);

    for (let i = 0; i < data.length; i += 4) {
        const r = data[i];
        const g = data[i + 1];
        const b = data[i + 2];
        const a = data[i + 3] / 255;

        // if match target, change
        if (r === colorBefore.r && g === colorBefore.g && b === colorBefore.b) {
            data[i] = colorAfter.r;
            data[i + 1] = colorAfter.g;
            data[i + 2] = colorAfter.b;
            data[i + 3] = alphaAfter * 255;
        }
    }

    imageColorRemoverOutputContext.putImageData(imageData, 0, 0);
}

imageColorRemoverFileInput.addEventListener("change", function () {
    imageColorRemoverLoadImage(this.files[0]);
});

imageColorRemoverInputConfirm.addEventListener("click", imageColorRemoverProcessImage);
imageColorRemoverColorBeforeInput.addEventListener("input", imageColorRemoverProcessImage);
imageColorRemoverBeforeAlphaInput.addEventListener("input", imageColorRemoverProcessImage);
imageColorRemoverColorAfterInput.addEventListener("input", imageColorRemoverProcessImage);
imageColorRemoverAfterAlphaInput.addEventListener("input", imageColorRemoverProcessImage);
</script>